<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/tweetLogo.png" class="ui small image">
                <section class="ui  segment">
                    <div class="ui segment">
                        <div id="chartContainer" style="height: 220px; width: 100%;"></div>
                    </div>
                </section>
        </aside>
        <article class="ten wide column">
            <table class="ui fixed inverted blue celled table segment">
                <thead>
                <tr>
                    <th> <img src="images/noUserPic.jpg" class = 'ui avatar image'>Avatar</th>
                    <th>Tweet</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {{#each tweet}}
                    <tr>
                        <td><img src='/getUserPic/{{{tweeter}}}' class='ui avatar image' onerror="this.src = 'images/noUserPic.jpg';" /></td>
                        <td> {{message}} </td>
                        <td> {{name}} </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>
<script src="js/checkbox.js"></script>
<script src="js/chart.js"></script>
<script src="js/canvasjs.min.js"></script>