<div class="ui rasied segment">
    <div class="ui form">
        <form action="/finduser" method="post">
            <div class="ui right icon input field">
                <input placeholder="Email Address" name="name" type="text"> <i
                    class="user icon"></i>
            </div>
            <button class="ui blue submit button">Search <i class="search icon"></i></button>
        </form>
    </div>
</div>