<section class="ui raised segment">
  <div class="ui grid">
    <aside class="three wide column">
      <img src="images/tweetLogo.png" class="ui small image">
    </aside>
    <article class="thirteen wide column">
      <table class="ui fixed inverted blue celled table segment">
        <thead>
        <tr>
          <th>Tweet</th>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {{#each tweet}}
          <tr>
            <td> {{message}} </td>
            <td> {{name}} </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </article>
  </div>
</section>