<section class="ui raised segment">
        <div class="ui grid">
            <div class="ten wide column">
                <form action="/tweet" class="ui form" method="post">
                <div class="ui form">
                    <div class="field">
                        <label>Tweet</label>
                        <textarea rows="5" name="content"></textarea>
                    </div>
                </div>
                <button  class="ui blue labeled submit icon button">
                    <i class="icon edit"></i> Submit
                </button>
                </form>
            </div>
            <section class="ui segment">
                <aside class="ui six wide column">
                    <img src="images/twitter2.png" class="ui medium image">
                </aside>
            </section>
        </div>
</section>
