{{> welcomemenu }}
<section class="ui raised segment">
    <div class="ui grid">
        <h1 class="ui header">
          <img src="images/tweetLogo.png" class="ui image">
          Administrator page
        </h1>
    </div>
</section>


<div class="ui grid">
    <section class="two column row">

        <div class="column">
            <h3 class="ui dividing header">Register new User</h3>
            <section class="ui raised segment">
                <div class="ui grid">
                    <div class="ui ten wide column">
                        <div class="ui stacked fluid form segment">
                            <form action="/register" method="POST">
                                <h3 class="ui header">Register</h3>
                                <div class="two fields">
                                    <div class="field">
                                        <label>First Name</label>
                                        <input placeholder="First Name" type="text" name="firstName">
                                    </div>
                                    <div class="field">
                                        <label>Last Name</label>
                                        <input placeholder="Last Name" type="text" name="lastName">
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Email</label>
                                    <input placeholder="Email" type="text" name="email">
                                </div>
                                <div class="field">
                                    <label>Password</label>
                                    <input type="password" name="password">
                                </div>
                                <button class="ui blue submit button">Submit</button>
                            </form>
                            {{> formerror }}
                        </div>
                    </div>
                </div>
            </div>


        <section class="column">
            <h3 class="ui dividing header">Delete User</h3>
            <section class="ui rasied form segment user">
                <div class="two fields">
                    <div class="field">
                        <div class="column">
                            <form action="/deleteUser" method="POST">
                                <div class="ui selection dropdown" id="deleteUser">
                                    <input name="deleteUser" type="hidden">
                                    <div class="default text">Select User</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu user">
                                        {{#each user}}
                                            <div class="item userlist" data-value="{{tweeter.email}}">{{tweeter.email}}</div>
                                        {{/each}}
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <button class="ui blue submit button">Delete User <i class="trash icon"></i></button>
                </form>
        </section>

    </section>
    </section>
</div>

<section class="ui rasied segment">

    <div class="ui grid">

        <div class="four wide column">
            <h3 class="ui dividing header">Search for User Tweets to Delete</h3>
            <div class="ui rasied segment">
                <div class="ui right icon input field">
                    <input placeholder="Email Address" type="text" name="email" id="email" class="search-input">
                     <i class="user icon"></i>
                </div>
                <div>
                <button class="ui blue submit button" onclick="searchUserTweets()" id="search_btn" >Search <i class="search icon"></i></button>
                </div>
            </div>
        </div>

        <div class="twelve wide column">

            <section class="ui raised segment">
                <div class="ui grid">
                    <aside class="three wide column">
                        <img src="images/tweetLogo.png" class="ui small image">
                    </aside>
                    <article class="thirteen wide column">
                        <table class="ui fixed inverted blue celled table segment" id="tweet_table">
                            <thead>
                            <tr>
                                <th>Tweet</th>
                                <th>Name</th>
                                <th>Check to select all for Deletion
                                    <input type="checkbox" name="selectAll" id="selectAll" />
                                </th>
                            </tr>
                            </thead>
                            <tbody class="tablebody">
                            </tbody>
                        </table>
                        <button class="ui blue button" type="button" onclick="delSelectedTweets()"><i class="trash icon"></i>Delete Selected</button>
                        <button class="ui blue button" type="button" onclick="clearTable()"><i class="delete icon"></i>clear the table</button>
                    </article>
                </div>
            </section>




        </div>

    </div>
</section>
<script src="js/checkbox.js"></script>
<script src="js/useApi.js"></script>