{{> welcomemenu }}
<section class="ui raised segment">
    <div class="ui grid">
        <h1 class="ui header">
          <img src="images/tweetLogo.png" class="ui image">
          Administrator page
        </h1>
    </div>
</section>


<section class="ui form segment user">
    <h2 class="ui dividing header">Delete User</h2>
    <div class="two fields">
        <div class="field">
            <div class="column">
                <div class="ui selection dropdown" id="deleteUser">
                    <input name="deleteUser" type="hidden">
                    <div class="default text">Select User</div>
                    <i class="dropdown icon"></i>
                    <div class="menu user">
                        {{#each user}}
                          <div class="item userlist" data-value="{{email}}">{{email}}</div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="ui blue submit button">Delete User <i class="trash icon"></i></button>
    <h2 class="ui dividing header">Search for User Tweets</h2>
    <div class="field">
        <div class="column">
          {{> findusersearch}}
        </div>
    </div>
</section>
{{> mytweetlist}}