{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/twitter.jpg" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> MyTweet app</header>
      <p> You can signup here to tweet! </p>
    </article>
  </div>
</section>